<div class="message">
  <div class="upper-message">
    <div class="message-date">
      <%= l book.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= book.content %>
    </div>
  </div>
</div>