<div class="message">
  <div class="upper-message">
    <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= book.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= book.content %>
    </div>
  </div>
</div>