<div class="book-status">
        <div class="upper-book">
           <div class="book-date">
             <%= l book.created_at %>
           </div>
         </div>
         <div class="lower-book">
             <div class="book-content">
               <%= book.content %>
             </div>
             <%= image_tag book.image.variant(resize: '250x600'), class: 'book-image' if book.image.attached? %>
             <div class="book-delete-button">
               <%= link_to "削除", category_book_path(@category.id, book.id), method: :delete %>
             </div>
         </div>
   </div>
   