<div class="category-bar-header">
  <div class="header-name">
    <a href="#">Tom</a>
  </div>
  <div class="create-category">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="categorys">
    <div class="category">
      <div class="category-name">
         <a href="#">techroom1</a>
      </div>
    </div>
</div>