<div class="category-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-category">
    <%= link_to "チャットを作成する", new_category_path %>
  </div>
</div>

<div class="categorys">
   <% @categorys.each do |category| %>
     <div class="category">
       <div class="category-name">
          <%= link_to category.name, category_books_path(category) %>
       </div>
     </div>
   <% end %>
</div>