<div class="book-header"> 　
  <div class="left-header">
     <div class="header-title">
       hogefuga
     </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="form">
   <div class="form-input">
    <input class="form-title" placeholder= "type a title">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>

<div class="book-main">
  <div class="book-status">
    <div class="upper-book">
      <div class="book-user">
        Tom
      </div>
      <div class="book-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-book">
      <div class="book-content">
        おはよう
      </div>
    </div>
  </div>
</div>
