<div class="book-header"> 　
  <div class="left-header">
     <div class="header-title">
       hogefuga
     </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<%= form_with model: [@category, @book], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-title', placeholder: 'type a title' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>

<div class="book-main">
  <div class="book-status">
    <div class="upper-book">
      <div class="book-user">
        Tom
      </div>
      <div class="book-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-book">
      <div class="book-content">
        おはよう
      </div>
    </div>
  </div>
</div>
