.wrapper {
  display: flex;
  height: 100vh;
}

.category_bar {
  background-color: #111111;
  width: 300px;
  height: 100vh;

}

.category-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #eaf6fd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 20px;
  color: #111;
  text-decoration: none;
}

.create-category {
  font-size: 13px;
}

.create-category a {
  border: 1px solid #00a5dd;
  padding: 14px;
  color: #00a5dd;
  text-decoration: none;
}

.categorys {
  background-color: #e9f5cd;
  height: 100vh;
  padding: 0 20px;
  overflow: scroll;
}

.category {
  padding: 20px 0 40px;
}

.category-name a {
  text-decoration: none;
  color: #111;
}

.books {
  background-color: rgba(244, 248, 248, 0.664);
  width: calc(100vw - 300px);
  height: 100vh;
}

.book-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  background-color: #eaf6fd;
}

.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid #6a397d;
  color: #6a397d;
  padding: 20px;
}

.form {
  background-color: #f0eeee;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-title {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #8490c8;
  border: none;
  color: #111111;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: #111;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.book-main {
  height: 100vh;
  background-color: #eaf6fd;
  padding: 50px 70px 0;
  overflow-y: scroll;
  flex-wrap: wrap;
  display: flex;
}

.book-status {
  margin: 0 0 50px 50px;
}

.upper-book {
  display: flex;
}

.book-date {
  color: #999;
  font-size: 12px;
}

.lower-book {
  margin-top: 10px;
}

.book-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.book-delete-button {
  border: 1px solid #111111;
  padding: 14px;
  color: #111111;
  text-decoration: none;
}